.navbar-base-div {
    display: flex;
    flex-direction: row;
    height: 5%;
    background-color: white;
    box-sizing: border-box;
}

.home-icon-div {
    height: 100%;
    width: 5vh;
    background-color: #6F52ED;
}