/* Search area */

.main-search-div {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-right: 15px;
}

.search-bar-main {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.icon-text-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-icon {
    margin: 0;
    margin-right: 5px;
    color: #C9CED6;
    font-size: 28px;
}

.search-text {
    margin: 0;
    color: #A6ACBE;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 14px;
    width: 100%;
}

.search-text::placeholder {
    margin: 0;
    color: #A6ACBE;
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 14px;
}

.search-bar-base {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator-line {
    height: 1px;
    background-color: #EEF0F6;
    width: 100%;
}

.dark {
    background-color: #A6ACBE;
}

.half-dark {
    margin: 0;
    color: #A6ACBE;
    padding: 0;
}

/* Results area */

.results-base {
    height: 95%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.main-results-title {
    margin: 0;
    margin-bottom: 5px;
}

.grid-container {
    margin-top: 20px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;

}

.item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
}

.recipe-item {
    height: 100px;
    width: 100%;
}

.recipe-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #0C0624 100%);
    height: 100%;
    width: 100%;
    border-radius: 10px; 
}

.recipe-item-name {
    text-align: center;
    font-family: Cabin;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 0;
}

.people-item {
    height: 40px;
    width: 100%;
    background-color: #6F52ED;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.people-item-name {
    text-align: center;
    font-family: Cabin;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}


